html, body, * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #000;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  color: #fff;
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 32px;
  letter-spacing: 1.6px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
  font-weight: bold;
}

p {
  color: #D4D4D4;
  letter-spacing: 0.7px;
  line-height: 1.5;
}

.gold {
  color: #b69b87;
  font-family: 'Lora', serif;
}

h4, h5, p {
  font-family: 'Lora', serif;
  font-size: 16px;
}

.btn-trailer {
  background-color: transparent;
  border: 1px solid #b69b87;
  color: #fff;
  font-family: 'Lora', serif;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2.2px;
  line-height: 24px;
  outline: none;
  padding: 8px 16px 8px 40px;
  position: relative;
}

.btn-trailer:active {
  background-color: #b69b87;
}

.btn-trailer::before {
  background-image: url("../img/icon-play.png");
  background-position: center;
  content: "";
  height: 26px;
  left: 16px;
  position: absolute;
  top: 8px;
  width: 16px;
}

.btn-donate {
  background-color: transparent;
  background-image: url("../img/donate.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  color: transparent;
  height: 72px;
  outline: none;
  padding: 0;
  width: 192px;
}

#hero {
  background-image: url("../img/image-background.png");
  background-position: -544px 0;
  background-size: cover;
  height: 100vh;
}

#hero nav {
  background-color: rgba(0, 0, 0, 0.28);
  display: flex;
  height: 56px;
  padding: 12px 20px;
}

#hero nav img {
  padding: 8px 0;
}

#hero nav p {
  font-size: 12px;
  font-family: 'Lora', serif;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  padding: 8px 0;
  width: 100%;
}

#hero .container {
  align-items: center;
  display: flex;
  height: calc(100% - 56px);
  text-align: center;
  padding: 0 32px;
}

#hero .container .info {
  margin: 0 auto;
  max-width: 704px;
}

#hero .container h1,
#hero .container h3 {
  margin-bottom: 16px;
  text-shadow: 0 0 22px rgba(0, 0, 0, 0.5);
}

section {
  margin-bottom: 16px;
}

section h2 {
  border-bottom: 2px solid #b69b87;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 8px;
  width: 60%;
}

#synopsis {
  display: flex;
  flex-direction: column;
  padding: 16px 0 48px;
}

#synopsis p {
  margin-top: 32px;
  padding: 0 32px;
}

#cast article {
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: flex-end;
  max-width: 423px;
  text-align: center;
  position: relative;
}

#cast article:before {
  background-color: #000;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
}

#cast article h3 {
  margin-bottom: 4px;
  z-index: 1;
}

#cast article p {
  margin-bottom: 40px;
  z-index: 1;
}

#cast article.carl {
  background-image: url("../img/carl.png");
}

#cast article.whip {
  background-image: url("../img/whip.png");
}

#cast article.cane {
  background-image: url("../img/cane.png");
}

#cast article.panto {
  background-image: url("../img/panto.png");
}

#cast article.allyson {
  background-image: url("../img/allyson.png");
}

#cast article.boots {
  background-image: url("../img/boots.png");
}

#gallery article.image {
  background-image: url("../img/gallery.png");
  background-size: cover;
  background-position: -80px 0;
  height: 283px;
}

#support {
  align-items: center;
  display: flex;
  flex-flow: column;
  padding-bottom: 80px;
}

#support h1 {
  margin: 40px;
  text-align: center;
}

#support .subscribe {
  display: flex;
  height: 32px;
  padding: 0 32px;
  width: 100%;
}

#support .subscribe input,
#support .subscribe button {
  height: 100%;
}

#support .subscribe input {
  background-color: rgba(132, 132, 132, 0.2);
  border: 1px solid #b69b87;
  border-radius: 0;
  color: #fff;
  flex-basis: 75%;
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.4px;
  outline: none;
  padding: 0 16px;
}

#support .subscribe button {
  background-color: #b69b87;
  border: 1px solid #b69b87;
  color: #fff;
  flex-basis: 25%;
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 10px;
  padding: 0;
  width: 72px;
}

#support .social-media {
  display: flex;
  justify-content: space-between;
  padding: 0 88px;
  width: 100%;
}

#support .social-media a {
  background-size: 100%;
  height: 40px;
  width: 40px;
}

#support .social-media .icon-facebook {
  background-image: url("../img/icon-facebook.png");
}

#support .social-media .icon-twitter {
  background-image: url("../img/icon-twitter.png");
}

#support .social-media .icon-vimeo {
  background-image: url("../img/icon-vimeo.png");
}

#support .social-media .icon-instagram {
  background-image: url("../img/icon-instagram.png");
}

/** TABLETS **/
@media (min-width: 768px) {
  #hero {
    background-position: center;
    height: 398px;
    position: relative;
  }

  #hero .btn-donate {
    bottom: 24px;
    height: 64px;
    position: absolute;
    right: 24px;
    width: 160px;
  }

  #hero .container h1 {
    font-size: 40px;
    max-width: 488px;
  }

  section h2 {
    display: none;
  }

  #synopsis {
    flex-direction: row-reverse;
    padding-top: 64px;
  }

  #synopsis img {
    height: 35%;
    margin-right: 48px;
    width: 35%;
  }

  #synopsis p {
    margin: auto;
    padding: 0 0 0 40px;
    width: 65%;
  }

  #cast {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  #cast article {
    width: 50%;
  }
}
