#header {
  align-items: center;
  background-color: $purple;
  display: flex;
  height: 768px;
  justify-content: center;
  position: relative;
  width: 100%;

  .container {
    display: flex;
    height: 100%;
    max-width: 1170px;
    width: 100%;
  }
}
