html, body, * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  vertical-align: middle;
  font-weight: 500;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 57px;
  line-height: 76px;
  /*transform: rotate(-90deg);*/
}

h2 {
  color: #293036;
  font-family: 'Lora', serif;
  font-size: 42px;
  line-height: 56px;
}

h3 {
  color: #293036;
  font-family: 'Lora', serif;
  font-size: 24px;
  line-height: 32px;
}

h4 {
  color: #293036;
  font-family: 'Cabin', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

p {
  color: #707980;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
}

a {
  color: #707980;
  font-size: 14px;
  font-family: 'Cabin', sans-serif;
  line-height: 18px;
}

header {
  background-image: url('../img/hero.png');
  background-size: cover;
  color: #fff;
  height: 780px;
  position: relative;
}

nav {
  font-family: 'Cabin', sans-serif;
  padding: 16px 0;
  vertical-align: middle;
  position: absolute;
  width: 100%;
}

nav h4 {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  margin-left: 24px;
}

nav h5 {
  display: inline-block;;
  font-size: 14px;
  line-height: 40px;
  position: absolute;
  right: 90px;
}

header .container {
  align-items: center;
}

.container {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

.info p,
.info a {
  font-family: 'Cabin', sans-serif;
}

header .info p {
  font-size: 24px;
  line-height: 32px;
  opacity: 0.6;
}

.info a {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  transition: 0.3s ease all;
}

.info a:hover {
  color: #DA247F;
  cursor: pointer;
}

.info a:after {
  background-image: url('../img/icon-add.svg');
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  height: 24px;
  margin-left: 4px;
  position: absolute;
  width: 24px;
}

.social {
  /*background-color: gray;*/
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 90px;
}

.social a {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  display: block;
  height: 32px;
  margin: 0 auto 16px;
  transition: .3s ease all;
  width: 32px;
}

.social a:first-of-type {
  margin-top: 116px;
}

.social a:hover {
  cursor: pointer;
}

.social a.linkedin {
  background-image: url('../img/icon-linkedin.svg');
}

.social a.twitter {
  background-image: url('../img/icon-twitter.svg');
}

.social a.linkedin:hover {
  background-image: url('../img/icon-linkedin-pink.svg');
}

.social a.twitter:hover {
  background-image: url('../img/icon-twitter-pink.svg');
}

.social p {
  bottom: 180px;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  left: -76px;
  line-height: 32px;
  margin: 0;
  position: absolute;
  transform: rotate(-90deg);
  width: 240px;
}

section {
  margin-top: 90px;
}

#bio .container {
  align-items: center;
  height: auto;
}

#bio .info {
  width: 50%;
}

#bio .info h2,
#bio .info p {
  max-width: 448px;
}

#bio span {
  color: #707980;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.6;
}

#bio h3 {
  color: #da247f;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.video {
  max-width: 538px;
}

#selected-talks {
  text-align: center;
}

#selected-talks .container {
  flex-flow: row wrap;
}

#selected-talks h2 {
  flex-basis: 100%;
  margin-bottom: 48px;
}

#selected-talks .talk {
  display: inline-block;
  padding: 0 12px;
  text-align: left;
  width: 33.33%;
}

.talk img {
  width: 100%;
}

.talk .event {
  color: #707980;
  display: block;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 24px 0 4px;
}

.talk h3 {
  height: 64px;
  margin-bottom: 8px;
}

.talk p {
  height: 96px;
}

.talk .date {
  color: #707980;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-top: 8px;
}

#talks-list .container {
  flex-flow: row wrap;
}

#talks-list ol {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

#talks-list h4 {
  flex-basis: 100%;
  margin-bottom: 48px;
}

#talks-list .year {
  list-style: none;
  margin-bottom: 68px;
}

#talks-list h3 {
  color: #da247f;
  margin-bottom: 12px;
  width: 100%;
}

#talks-list .year ul {
  border-top: solid 1px rgba(40, 48, 54, 0.1);
  list-style: none;
  margin: 0;
  padding: 0;
}

#talks-list .year ul li {
  display: flex;
  flex-flow: row;
  margin-top: 24px;
}

#talks-list .year ul li span {
  margin: 0;
}

#talks-list .year ul li .event {
  color: #707980;
  flex-basis: 25%;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-right: 24px;
}

#talks-list .year ul li .title,
#talks-list .year ul li .date {
  font-family: 'Lora', serif;
}

#talks-list .year ul li .title {
  color: #293036;
  flex-basis: 50%;
  font-size: 18px;
  line-height: 24px;
  margin-right: 24px;
}

#talks-list .year ul li .date {
  color: #707980;
  flex-basis: 25%;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.8;
  text-align: right;
}
