body {
    background-color: #f2f2f2;
    width: 100%;
}
#championsLeague {
    color: rgba(0,0,0,0.87);
    width: 100%;
}
/* ++++++++++ App Bar ++++++++++ */
#championsLeague .appBar {
    box-shadow: 0 0 15px rgba(0,0,0,.75);
    color: #fff;
    background-color: #303F9F;
    height: 64px;
    padding: 0 16px;
    position: absolute;
    width: 100%;
}
#championsLeague .appBar .sideBarButton {
    background: url(/ChampionsLeague/img/menu.png) center no-repeat;
    border: none;
    float: left;
    height: 64px;
    outline: none;
    width: 48px;
}
#championsLeague .appBar .appBarTitle {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    height: 64px;
    line-height: 64px;
    margin: 0 0 0 56px;
    outline: none;
    vertical-align: middle;
}
#championsLeague .appBar .appBarTitle option {
    color: #000;
}
@media (max-width: 600px) {
    #championsLeague .appBar {
        height: 56px;
    }
    #championsLeague .appBar .sideBarButton {
        height: 56px;
    }
    #championsLeague .appBar .appBarTitle {
        font-size: 20px;
        height: 56px;
        line-height: 56px;
    }
}
/* ++++++++++ Content Container ++++++++++ */
#championsLeague .mainContainer {
    color: rgba(0,0,0,0.87);
    display: table;
    height: 100%;
    padding-top: 64px;
    width: 100%;
}
@media (max-width: 600px) {
    #championsLeague .mainContainer {
        height: 100%;
        padding-top: 56px;
    }
}
#championsLeague .mainContainer section {
    display: table-cell;
    vertical-align: middle;
}
/* ++++++++++ Groups Container ++++++++++ */
#championsLeague .groups {
    margin: auto;
    max-width: 1280px;
    padding: 0;
    text-align: center;
    width: 100%;
}
/* ++++++++++ Group Card ++++++++++ */
#championsLeague .group {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    display: inline-block;
    margin: 16px;
    max-width: 288px;
    width: 100%;
}
#championsLeague .group h1 {
    border-radius: 3px 3px 0 0;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding: 8px 16px;
    text-align: left;
}
/* ++++++++++ Group Team ++++++++++ */
#championsLeague .group .team {
    border-bottom: 1px solid #f5f5f5;
    display: block;
    overflow: auto;
    padding: 12px 16px;
    width: 100%;
}
#championsLeague .group .team:last-child {
    border: none;
}
#championsLeague .group .team * {
    display: inline-block;
    float: left;
    margin: 0;
}
#championsLeague .group .team img {
    width: 32px;
}
#championsLeague .group .team p {
    font-size: 16px;
    line-height: 32px;
    margin-left: 16px;
    vertical-align: middle;
}